In [1]:
import pandas as pd

In [2]:
pd.options.display.max_columns = 500
pd.options.display.max_rows = 10000

In [3]:
labels = [
    'P8NOTE', 
    'P8TINC', 
    'P8FVUC', 
    'P8FCCC', 
    'P8FVUI', 
    'P8FCCI', 
    'P8NRCV', 
    'P8MV30', 
    'P8MV60', 
    'P8MV90', 
    'P8MV12', 
    'P8MV18', 
    'P8MV1A', 
    'P8MVM1', 
    'P8RPCV', 
    'P8LINT', 
    'P8FCTC', 
    'P8MOCA', 
    'P8MOIN', 
    'P8TRXN', 
    'P8PRAN',
    ]

fwidths = [11, 13, 8, 8, 8, 8, 8, 13, 13, 13, 13, 13, 13, 13, 13, 13, 8, 13, 13, 2, 11,]

In [4]:
lnp860 = pd.read_fwf('../vol/web/media/insumos/automatic/lnp860', widths = fwidths, names = labels)

In [5]:
lnp860.head()

,P8NOTE,P8TINC,P8FVUC,P8FCCC,P8FVUI,P8FCCI,P8NRCV,P8MV30,P8MV60,P8MV90,P8MV12,P8MV18,P8MV1A,P8MVM1,P8RPCV,P8LINT,P8FCTC,P8MOCA,P8MOIN,P8TRXN,P8PRAN
0,1931652739,30000000,15062003,16092003,15042003,3072003,00000003,0,0,0,0,0,0,0,0,0,1011900,0,0,NaN,0
1,6000000069,9870000,28092007,28092007,28092007,7112007,00000000,0,0,0,0,0,0,0,0,0,1011900,0,0,68.0,0
2,6000001361,10100744,25122009,11082015,25122009,5052010,00000000,0,0,0,0,0,0,0,0,0,1011900,0,0,NaN,0
3,7015025500,43000000,0,0,0,0,00000000,0,0,0,0,0,0,0,0,0,1011900,0,0,NaN,0
4,7015026701,41000000,0,0,0,0,00000000,0,0,0,0,0,0,0,0,0,1011900,0,0,NaN,0

In [6]:
lnp860.tail()

,P8NOTE,P8TINC,P8FVUC,P8FCCC,P8FVUI,P8FCCI,P8NRCV,P8MV30,P8MV60,P8MV90,P8MV12,P8MV18,P8MV1A,P8MVM1,P8RPCV,P8LINT,P8FCTC,P8MOCA,P8MOIN,P8TRXN,P8PRAN
1917,13113175525,65000000,1031999,27051999,1021999,10021999,00000000,0,0,0,0,0,0,0,0,0,1011900,0,0,NaN,0
1918,20511062213,58000000,20062000,20062000,20062000,20062000,00000000,0,0,0,0,0,0,0,0,0,1011900,0,0,NaN,0
1919,22514173501,25000000,15042006,7072006,15022006,31032006,00000004,0,0,0,0,0,0,0,0,0,1011900,0,0,NaN,0
1920,27110061374,52000000,2022001,9042001,2032001,25092002,00000000,0,0,0,0,0,0,0,0,0,1011900,0,0,68.0,0
1921,73110058921,49000000,7032001,6042001,7032001,5042001,00000000,0,0,0,0,0,0,0,0,0,1011900,0,0,NaN,0

In [7]:
lnp860.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1922 entries, 0 to 1921
Data columns (total 21 columns):
P8NOTE    1922 non-null int64
P8TINC    1922 non-null int64
P8FVUC    1922 non-null int64
P8FCCC    1922 non-null int64
P8FVUI    1922 non-null int64
P8FCCI    1922 non-null int64
P8NRCV    1922 non-null object
P8MV30    1922 non-null int64
P8MV60    1922 non-null int64
P8MV90    1922 non-null int64
P8MV12    1922 non-null int64
P8MV18    1922 non-null int64
P8MV1A    1922 non-null int64
P8MVM1    1922 non-null int64
P8RPCV    1922 non-null int64
P8LINT    1922 non-null int64
P8FCTC    1922 non-null int64
P8MOCA    1922 non-null int64
P8MOIN    1922 non-null int64
P8TRXN    115 non-null float64
P8PRAN    1922 non-null int64
dtypes: float64(1), int64(19), object(1)
memory usage: 315.5+ KB

In [8]:
lnp860.P8PRAN.value_counts()

0    1922
Name: P8PRAN, dtype: int64

In [9]:
lnp860.P8RPCV.value_counts()

0    1921
4       1
Name: P8RPCV, dtype: int64

In [10]:
lnp860.P8TINC.value_counts()

46000000    516
44000000    236
49000000    143
47000000    136
24000000    110
49750000     77
65000000     48
21000000     45
25000000     45
42000000     43
15000000     37
62000000     33
48000000     32
23000000     31
61000000     30
26000000     29
39000000     29
28000000     25
17000000     24
34000000     23
22000000     22
53000000     22
40000000     16
55000000     13
43500000     13
41000000     12
72000000     12
58000000     11
13000000     10
38000000     10
59000000     10
60000000      8
56000000      7
20000000      6
42500000      6
19500000      5
43000000      5
66000000      5
48450000      5
52000000      5
68000000      5
19000000      4
63000000      3
44500000      3
37000000      2
27000000      2
18000000      1
10100744      1
45000000      1
39500000      1
9870000       1
30000000      1
46200000      1
64000000      1
Name: P8TINC, dtype: int64

In [11]:
lnp860.P8NRCV.value_counts()

00000000    1731
00000007      46
00000004      35
00000001      27
00000002      22
00000006      21
00000005      21
00000003      18
0002410L       1
Name: P8NRCV, dtype: int64

In [12]:
lnp860.P8MV30.value_counts()

0    1922
Name: P8MV30, dtype: int64

In [13]:
lnp860.tail(1)

,P8NOTE,P8TINC,P8FVUC,P8FCCC,P8FVUI,P8FCCI,P8NRCV,P8MV30,P8MV60,P8MV90,P8MV12,P8MV18,P8MV1A,P8MVM1,P8RPCV,P8LINT,P8FCTC,P8MOCA,P8MOIN,P8TRXN,P8PRAN
1921,73110058921,49000000,7032001,6042001,7032001,5042001,00000000,0,0,0,0,0,0,0,0,0,1011900,0,0,NaN,0

In [14]:
lnp860.P8FVUC =  pd.to_datetime(lnp860.P8FVUC, format='%d%m%Y', errors='coerce')
lnp860.P8FCCC =  pd.to_datetime(lnp860.P8FCCC, format='%d%m%Y', errors='coerce')
lnp860.P8FVUI =  pd.to_datetime(lnp860.P8FVUI, format='%d%m%Y', errors='coerce')
lnp860.P8FCCI =  pd.to_datetime(lnp860.P8FCCI, format='%d%m%Y', errors='coerce')
lnp860.P8FCTC =  pd.to_datetime(lnp860.P8FCTC, format='%d%m%Y', errors='coerce')
lnp860.P8FVUC.fillna(pd.to_datetime('1900-01-01'), inplace=True)
lnp860.P8FCCC.fillna(pd.to_datetime('1900-01-01'), inplace=True)
lnp860.P8FVUI.fillna(pd.to_datetime('1900-01-01'), inplace=True)
lnp860.P8FCCI.fillna(pd.to_datetime('1900-01-01'), inplace=True)
lnp860.P8FCTC.fillna(pd.to_datetime('1900-01-01'), inplace=True)

In [15]:
lnp860.P8FVUC.value_counts()

1900-01-01    1283
2018-01-12      34
2017-12-12      26
2016-09-12      12
2017-06-12      11
2018-05-18       9
2018-01-18       9
2016-10-12       9
2016-12-12       9
2018-06-18       8
2017-02-12       8
2018-05-12       8
2016-11-12       8
2017-01-12       8
2016-05-12       8
2016-10-18       8
2017-08-12       8
2017-02-18       7
2017-04-12       7
2009-03-18       7
2017-09-18       6
2016-08-18       6
2017-03-12       6
2018-06-12       6
2017-05-12       6
2016-08-12       6
2017-12-18       5
2016-03-18       5
2008-06-18       5
2009-01-18       5
2016-11-18       5
2017-11-12       5
2016-09-18       4
2014-03-12       4
2015-11-12       4
2017-05-18       4
2017-09-12       4
2018-07-18       4
2013-12-12       4
2016-12-18       4
2015-12-12       4
2018-09-12       4
2008-11-18       4
2014-10-12       3
2019-12-06       3
2018-03-17       3
2016-04-12       3
2012-09-18       3
2017-10-18       3
2016-02-18       3
2014-12-18       3
2019-12-17       3
2015-09-18       3
2017-10-12       3
2015-11-18       3
2017-01-18       3
2008-12-21       3
2009-12-18       3
2015-12-18       3
2011-01-18       3
2019-12-18       3
2009-08-21       3
2009-02-18       3
2012-10-18       3
2018-04-12       3
2018-08-18       3
2017-08-18       3
2017-03-18       3
2014-07-18       2
2010-04-18       2
2018-08-12       2
2014-08-21       2
2010-01-18       2
2009-05-21       2
2017-04-18       2
2013-08-12       2
2009-06-18       2
2009-11-18       2
2014-09-12       2
2018-07-12       2
2010-06-21       2
2014-11-18       2
2008-09-18       2
2011-10-18       2
2010-11-18       2
2013-07-12       2
2018-03-12       2
2016-02-12       2
2008-02-18       2
2019-12-12       2
2010-02-18       2
2015-03-12       2
2014-05-12       2
2012-05-12       2
2016-07-12       2
2009-11-21       2
2015-03-18       2
2015-02-12       2
2015-09-12       2
2009-08-18       2
2018-04-18       2
2015-06-18       2
2011-09-12       2
2017-07-12       2
2014-11-12       2
2008-03-18       2
2012-05-18       2
2009-05-18       2
2013-09-12       2
2014-02-18       2
2014-04-12       2
2017-06-18       2
2012-03-18       2
2008-10-18       2
2014-01-12       2
2014-06-12       2
2018-03-18       2
2014-10-18       2
2011-08-18       2
2013-03-18       2
2016-04-18       2
2014-09-18       2
2016-03-12       2
2015-01-12       2
2015-04-12       2
2008-11-21       2
2018-02-18       2
2011-05-18       2
2009-03-21       1
2013-06-12       1
2014-01-21       1
2009-12-25       1
2009-08-12       1
2014-04-21       1
2016-06-18       1
2011-10-21       1
2015-05-12       1
2010-01-31       1
2011-02-18       1
2009-01-21       1
2018-03-05       1
2016-05-18       1
2017-01-21       1
2010-03-12       1
2013-12-18       1
2018-01-25       1
1999-03-10       1
2009-09-21       1
2001-03-07       1
2016-03-10       1
2013-02-18       1
2011-12-18       1
2008-09-09       1
2016-11-21       1
2010-09-12       1
2014-06-18       1
2008-08-18       1
2007-01-10       1
2019-12-04       1
2011-06-21       1
2012-05-21       1
2008-07-27       1
2016-01-13       1
2018-02-06       1
2011-01-13       1
2013-08-18       1
2010-07-18       1
2009-07-21       1
2013-10-12       1
2006-04-15       1
2019-12-14       1
2009-03-30       1
2011-12-28       1
2017-07-18       1
2009-09-18       1
2017-11-18       1
2010-07-21       1
2016-05-09       1
2008-07-30       1
2016-06-12       1
2013-05-12       1
2012-07-12       1
2015-02-25       1
2001-02-20       1
2019-12-08       1
1999-05-10       1
2011-06-14       1
2010-11-12       1
2018-01-20       1
2011-07-18       1
2010-04-12       1
2017-10-22       1
2019-12-20       1
2013-02-12       1
2010-05-12       1
2009-01-26       1
2018-02-12       1
2018-03-16       1
2008-10-15       1
2007-09-28       1
2011-09-21       1
2012-01-12       1
2015-10-18       1
2013-01-18       1
2009-02-28       1
2003-06-15       1
2015-11-21       1
2012-06-18       1
2015-04-21       1
2009-06-21       1
2015-08-12       1
2018-02-10       1
2013-07-18       1
2019-12-07       1
2016-09-21       1
2006-10-28       1
2019-12-09       1
2014-02-12       1
2011-08-12       1
2012-08-18       1
2009-07-18       1
2016-09-25       1
2018-03-20       1
2015-06-21       1
2010-10-12       1
2013-04-12       1
2012-06-12       1
2008-06-08       1
2013-03-21       1
2015-02-18       1
2017-08-19       1
2008-09-07       1
2016-07-21       1
2018-09-18       1
2012-11-18       1
2011-04-12       1
2015-05-18       1
2017-05-08       1
2011-12-12       1
2010-02-28       1
2007-09-20       1
2011-05-12       1
2009-12-21       1
2012-02-18       1
2009-04-06       1
2000-06-20       1
2015-07-12       1
2008-07-21       1
2010-09-18       1
2019-12-10       1
2008-11-11       1
2009-04-18       1
2018-03-08       1
2011-03-18       1
2009-02-21       1
2014-01-18       1
2018-02-25       1
2014-07-12       1
Name: P8FVUC, dtype: int64

In [16]:
lnp860.head(1)

,P8NOTE,P8TINC,P8FVUC,P8FCCC,P8FVUI,P8FCCI,P8NRCV,P8MV30,P8MV60,P8MV90,P8MV12,P8MV18,P8MV1A,P8MVM1,P8RPCV,P8LINT,P8FCTC,P8MOCA,P8MOIN,P8TRXN,P8PRAN
0,1931652739,30000000,2003-06-15,2003-09-16,2003-04-15,2003-07-30,00000003,0,0,0,0,0,0,0,0,0,1900-01-10,0,0,NaN,0

In [17]:
lnp860.P8NRCV = pd.to_numeric(lnp860.P8NRCV, errors='coerce')
lnp860.P8NRCV.fillna(0, inplace=True)
lnp860.P8NRCV = lnp860.P8NRCV.astype("int64")

In [18]:
lnp860.P8MV30 = lnp860.P8MV30.apply(lambda x:x/100)
lnp860.P8MV60 = lnp860.P8MV60.apply(lambda x:x/100)
lnp860.P8MV90 = lnp860.P8MV90.apply(lambda x:x/100)
lnp860.P8MV12 = lnp860.P8MV12.apply(lambda x:x/100)
lnp860.P8MV18 = lnp860.P8MV18.apply(lambda x:x/100)
lnp860.P8MV1A = lnp860.P8MV1A.apply(lambda x:x/100)
lnp860.P8MVM1 = lnp860.P8MVM1.apply(lambda x:x/100)
lnp860.P8RPCV = lnp860.P8RPCV.apply(lambda x:x/100)
lnp860.P8LINT = lnp860.P8LINT.apply(lambda x:x/100)
lnp860.P8MOCA = lnp860.P8MOCA.apply(lambda x:x/100)
lnp860.P8MOIN = lnp860.P8MOIN.apply(lambda x:x/100)
lnp860.P8TINC = lnp860.P8TINC.apply(lambda x:x/1000000)

In [19]:
lnp860.to_csv('../vol/web/media/insumos/automatic/lnp860.txt', sep='~', date_format='%d/%m/%Y', index=False)

In [20]:
lnp860.loc[lnp860.P8NOTE == 7036589706]

,P8NOTE,P8TINC,P8FVUC,P8FCCC,P8FVUI,P8FCCI,P8NRCV,P8MV30,P8MV60,P8MV90,P8MV12,P8MV18,P8MV1A,P8MVM1,P8RPCV,P8LINT,P8FCTC,P8MOCA,P8MOIN,P8TRXN,P8PRAN
873,7036589706,56.0,1900-01-01,1900-01-01,1900-01-01,1900-01-01,7,0.0,0.0,0.0,0.0,0.0,99999999.0,99999999.0,0.0,0.0,1900-01-10,0.0,0.0,NaN,0

In [21]:
lnp860.to_json('../vol/web/media/insumos/automatic/lnp860.json', orient='records', date_format='%d/%m/%Y')