In [1]:
import pandas as pd

In [2]:
pd.options.display.max_columns = 500
pd.options.display.max_rows = 10000

In [35]:
misp_cap = pd.read_excel('../vol/web/media/insumos/manual/MIS_Provision_092019.xls', sheet_name='Cliente Data_CAP', 
                         converters={'Account':str, 'CtaLocal':str, 'CtaProv':str, 'Old_Acct':str,})
misp_rend = pd.read_excel('../vol/web/media/insumos/manual/MIS_Provision_092019.xls', sheet_name='Cliente Data_REND',
                         converters={'Account':str, 'CtaLocal':str, 'Old_Acct':str,})
misp_cap.dropna(axis = 0, subset = ['Account'], how = "any", inplace=True)
misp_rend.dropna(axis = 0, subset = ['Account'], how = "any", inplace=True)

In [36]:
misp_cap.head()

,Cid,Account,Provision,SumSaldo,Saldo_Provision,MaxOfCantCuotasVencidas,ProdType,Riesgo,RecordDate,HDelinquency,BlockCode1Date,BlockCodeId1,BlockReason1,BlockCode2Date,BlockCodeId2,BlockReason2,CtaLocal,CtaProv,RiskSicri,Old_Acct
0,V5531214,9018027401,0.0,1.07,0.0,0.0,607.0,A,2019-09-30,1111111111111111111111111111111211111111111111...,NaT,NaN,NaN,NaT,NaN,NaN,1312210103,1390310000,A,9018027401
1,V9992869,9019099601,0.0,2.31,0.0,0.0,643.0,A,2019-09-30,1111111111111111111111111111111111111111111111...,NaT,NaN,NaN,NaT,NaN,NaN,1312210103,1390310000,A,9019099601
2,V14985390,9019707401,0.0,0.01,0.0,0.0,607.0,A,2019-09-30,1111111111111111111111111111111111111,NaT,NaN,NaN,NaT,NaN,NaN,1312210103,1390310000,A,9019707401
3,V9234317,9019725001,0.0,39.75,0.0,0.0,643.0,A,2019-09-30,11111111111111111111111111111111111,NaT,NaN,NaN,NaT,NaN,NaN,1312210103,1390310000,A,9019725001
4,V3402105,9019730301,0.0,47.35,0.0,0.0,607.0,A,2019-09-30,1111111111111111111112111132111111,NaT,NaN,NaN,NaT,NaN,NaN,1312210103,1390310000,A,9019730301

In [29]:
misp_cap.tail()

,Cid,Account,Provision,SumSaldo,Saldo_Provision,MaxOfCantCuotasVencidas,ProdType,Riesgo,RecordDate,HDelinquency,BlockCode1Date,BlockCodeId1,BlockReason1,BlockCode2Date,BlockCodeId2,BlockReason2,CtaLocal,CtaProv,RiskSicri,Old_Acct
19180,V19730430,9.019870e+09,0.0,24546914.36,0.00,0.0,17.0,A,2019-09-30,111,NaT,NaN,NaN,NaT,NaN,NaN,1.312810e+09,1.390610e+09,A,9.019870e+09
19181,V19369214,9.019870e+09,0.0,24775749.36,0.00,0.0,17.0,A,2019-09-30,11,NaT,NaN,NaN,NaT,NaN,NaN,1.312810e+09,1.390610e+09,A,9.019870e+09
19182,V13252377,6.700000e+09,0.0,1.19,0.00,0.0,640.0,A,2019-09-30,1111111111111111111111111111111111111111111111...,NaT,NaN,NaN,NaT,NaN,NaN,1.311510e+09,1.390310e+09,A,6.700000e+09
19183,V5604833,9.018973e+09,10.0,0.39,-0.04,0.0,15.0,B,2019-09-30,1111111111111111111111111111111111121111111111...,NaT,NaN,NaN,NaT,NaN,NaN,1.311510e+09,1.390310e+09,B,9.018973e+09
19184,V16901172,9.019519e+09,0.0,0.56,0.00,0.0,12.0,A,2019-09-30,1111111111111111111111111111111111121111111111111,NaT,NaN,NaN,NaT,NaN,NaN,1.311510e+09,1.390310e+09,A,9.019519e+09

In [30]:
misp_rend.head()

,Cid,Account,CtaLocal,SaldoRendXcobrar,SaldoRendXcobrarVenc,ProvisionREND,Saldo_Provision_REND,Producto,MaxOfCantCuotasVencidas,ProdType,Riesgo,RecordDate,Old_Acct
0,V10009810,5.549290e+15,1.490310e+09,14432.04,0.0,0.0,0.0,Master,0.0,999.0,A,2019-09-30,5.549290e+15
1,V10181501,5.197230e+15,1.490310e+09,29470.25,0.0,0.0,0.0,Master,0.0,999.0,A,2019-09-30,5.197230e+15
2,V10181501,5.197230e+15,1.490310e+09,34923.00,0.0,0.0,0.0,Master,0.0,999.0,A,2019-09-30,5.197230e+15
3,V10262074,5.464900e+15,1.490310e+09,8033.28,0.0,0.0,0.0,Master,0.0,999.0,A,2019-09-30,5.464900e+15
4,V10262074,5.464900e+15,1.490310e+09,9826.35,0.0,0.0,0.0,Master,0.0,999.0,A,2019-09-30,5.464900e+15

In [31]:
misp_cap.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19185 entries, 0 to 19184
Data columns (total 20 columns):
Cid                        19185 non-null object
Account                    19185 non-null float64
Provision                  19185 non-null float64
SumSaldo                   19185 non-null float64
Saldo_Provision            19185 non-null float64
MaxOfCantCuotasVencidas    19185 non-null float64
ProdType                   19185 non-null float64
Riesgo                     19185 non-null object
RecordDate                 19185 non-null datetime64[ns]
HDelinquency               1189 non-null object
BlockCode1Date             429 non-null datetime64[ns]
BlockCodeId1               463 non-null object
BlockReason1               463 non-null object
BlockCode2Date             314 non-null datetime64[ns]
BlockCodeId2               463 non-null object
BlockReason2               463 non-null object
CtaLocal                   19185 non-null float64
CtaProv                    19185 non-null float64
RiskSicri                  19185 non-null object
Old_Acct                   19185 non-null float64
dtypes: datetime64[ns](3), float64(9), object(8)
memory usage: 3.1+ MB

In [37]:
misp_cap.to_csv('../vol/web/media/insumos/manual/fixed/mis_prov_cap.txt', sep='~', date_format='%d/%m/%Y', index=False)
misp_rend.to_csv('../vol/web/media/insumos/manual/fixed/mis_prov_rend.txt', sep='~', date_format='%d/%m/%Y', index=False)