In [1]:
import pandas as pd

In [3]:
account = pd.read_csv('./vol/web/media/account_151119.txt', sep='	')

In [4]:
account.to_json('./vol/web/media/account.json')

In [9]:
labels = [
    'PROVISION_MONTH', 
    'RIF_NUMBER', 
    'CLIENT_NAME', 
    'BASE_NUMBER', 
    'REFERENCE_NUMBER', 
    'LINE_IDENTIFICATION', 
    'RISK_CLASSIFICATION', 
    'CREDIT_AMOUNT', 
    'HERITAGE_AMOUNT', 
    'PROVISION_DATE', 
    'PROVISION_RATE', 
    'PROVISION_AMOUNT', 
    'GUARANTEE_TYPE', 
    'GUARANTEE_AMOUNT', 
    'PROVISION_ACCOUNT'
]
provisions = pd.read_csv('./vol/web/media/LRR_PROVISIONS_M.dat', header=None, names=labels)

In [14]:
provisions.to_json('./vol/web/media/lrr_provisions_m_3.json', orient='records', lines=True)

In [11]:
provisions.head()

,PROVISION_MONTH,RIF_NUMBER,CLIENT_NAME,BASE_NUMBER,REFERENCE_NUMBER,LINE_IDENTIFICATION,RISK_CLASSIFICATION,CREDIT_AMOUNT,HERITAGE_AMOUNT,PROVISION_DATE,PROVISION_RATE,PROVISION_AMOUNT,GUARANTEE_TYPE,GUARANTEE_AMOUNT,PROVISION_ACCOUNT
0,11/30/2019 00:00:00,V119703243,FARIAS UGAS YLAYALY MARIA,0,1000249184,1311510000,0,431200.80,NaN,NaN,0.0,0.0,10,0.0,1390110000
1,11/30/2019 00:00:00,V062663053,LILA IVONNE TEIXEIRA DE OSUSA,0,9019857601,1312810101,A,151984.95,NaN,NaN,0.0,0.0,10,0.0,1390610300
2,11/30/2019 00:00:00,V112280797,MASSIMO CAPUTO CONDE,0,9019861001,1312810101,A,166470.82,NaN,NaN,0.0,0.0,10,0.0,1390610300
3,11/30/2019 00:00:00,V121044338,JOSE JAVIER CARRERO,0,9019863101,1312810101,A,166295.73,NaN,NaN,0.0,0.0,10,0.0,1390610300
4,11/30/2019 00:00:00,V120946826,DANNY ALEXANDER NIO NAVAS,0,9019864301,1312810101,A,1167656.58,NaN,NaN,0.0,0.0,10,0.0,1390610300

In [12]:
provisions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19 entries, 0 to 18
Data columns (total 15 columns):
PROVISION_MONTH        19 non-null object
RIF_NUMBER             19 non-null object
CLIENT_NAME            19 non-null object
BASE_NUMBER            19 non-null int64
REFERENCE_NUMBER       19 non-null int64
LINE_IDENTIFICATION    19 non-null int64
RISK_CLASSIFICATION    19 non-null object
CREDIT_AMOUNT          19 non-null float64
HERITAGE_AMOUNT        0 non-null float64
PROVISION_DATE         0 non-null float64
PROVISION_RATE         19 non-null float64
PROVISION_AMOUNT       19 non-null float64
GUARANTEE_TYPE         19 non-null int64
GUARANTEE_AMOUNT       19 non-null float64
PROVISION_ACCOUNT      19 non-null int64
dtypes: float64(6), int64(5), object(4)
memory usage: 2.4+ KB